@import "tailwindcss";

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #001B35;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: rgb(216, 216, 216);
  text-decoration: inherit;
  width: 100%;
  display: flex;
}
a:hover {
  color: #007BCC;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
  padding-top: 100px;
}


button {
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: none;
}
button:focus,
button:focus-visible {
  outline: none;
  border: none;
}



@media (prefers-color-scheme: light) {
  :root {
    color: rgb(78, 78, 78);
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(78, 78, 78);
  }
  button {
    background-color: #f9f9f9;
  }
}



@font-face {
  font-family: 'CreatoDisplayRegular';
  src: url('./assets/fonts/creato_display/CreatoDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'CreatoDisplayBold';
  src: url('./assets/fonts/creato_display/CreatoDisplay-Black.otf') format('opentype');

}

.title-font {
  font-family: 'CreatoDisplayBold', sans-serif;
}
.text-font {
  font-family: 'CreatoDisplayRegular', sans-serif;
}
